<div class="container">
  <h3 class="d-flex justify-content-center">APP DEMO</h3>
  <h5 class="d-flex justify-content-center">Clienti Portale</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-black justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="cliente" class="m-1 btn btn-light btn-outline-primary">Cliente</button>
      </li>
      <li class="nav-item">
        <button routerLink="contratto" class="m-1 btn btn-light btn-outline-primary">Contratto</button>
      </li>
      <li class="nav-item">
        <button routerLink="pagamento" class="m-1 btn btn-light btn-outline-primary">Pagamento</button>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>

